# ENV 
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtualenv
.venv/
venv/
env/

# Logs
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker / lokalna baza
*.db
*.sqlite3

# Build
build/
dist/
*.egg-info/

# Twoje plik
results/