services:
  api:
    build:
      context: .
    container_name: fastapi_api
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - .:/app
    command: gunicorn -k uvicorn.workers.UvicornWorker src.main:app --bind 0.0.0.0:8000 --workers 2

